:root {
  --color-white: #fff;
  --color-dark1: rgb(39, 39, 39);
  --color-dark2: #2d2d2d;
  --color-dark3: #414141;
  --color-dark4: #1c1c1c;
  --color-dark5: #343434;
  --color-blue: #463a86;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--color-dark1);
  color: var(--color-white);
}
.img_logo_header {
  width: 45px;
}
.header,
.navigation_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header {
  background-color: var(--color-dark2);
  justify-content: space-between;
  padding: 0 10%;
  height: 3.5em;
  box-shadow: 1px 1px 4px var(--color-dark4);
}
.navigation_header {
  gap: 3em;
  z-index: 2;
}
.content {
  font-size: 20px;
  padding-top: 5em;
  text-align: center;
  height: 100vh;
  transition: 1s;
}
.navigation_header a {
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
}
.navigation_header a:hover {
  color: var(--color-dark1);
}
.active {
  background: var(--color-dark3);
  padding: 10px;
  border-radius: 10px;
}
.btn_icon_header {
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}


@media screen and (max-width: 768px) {
  .navigation_header {
    position: absolute;
    flex-direction: column !important;
    top: 0;
    background: var(--color-dark5);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
  }
  .btn_icon_header {
    display: block;
  }

  
}
@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -10vw;
  }
}
